<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Octave Web Shell</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="online, octave, shell, math, web, clent">
        <meta name="author" content="Ondrej Sika" >
        <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
        <script type="text/javascript" src="/static/angular.js"></script>
        <script type="text/javascript" src="/static/coffee/main.js"></script>
    </head>
    <body ng-controller="Controller">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Octave Web Shell</h1>
                </div>
                <div class="span12" style="margin-top:0px;">
                    <pre style="height:400px;overflow:auto;" ng-bind="out">
                    </pre>
                </div>
            </div>
            <div class="row">
                <div class="span12">
		    <form ng-submit="compute()">
                    <input type="text" ng-model="in" class="span12" id="input" onload="document.getElementById('input').focus()" ng-submit="compute()">
    		    </form>
                </div>
            </div>
            <a>clear</a>
            <hr>
            2013 Octave Web Shell v.2, Created by <a href="http://ondrejsika.com/">Ondrej Sika</a>
        </div>
    </body>
</html>
